extends layouts/layout.default.pug

block page
  .wrapper
    .bg-video
      video.video(width="100%", height="auto", autoplay="autoplay", loop="loop", preload="auto")
        source(src="assets/images/vid/burger_video.mp4")
        source(src="assets/images/vid/burger_video.webm")
    #fullpage
      include includes/hello.pug
      include includes/best.pug
      include includes/burgers.pug
      include includes/team.pug
      include includes/menu.pug
      include includes/reviews.pug
      include includes/order.pug
      include includes/map.pug

  ul.fixed-menu
    li.fixed-menu__item.is-active: a.fixed-menu__link(href="1", title="")
    li.fixed-menu__item: a.fixed-menu__link(href="2", title="")
    li.fixed-menu__item: a.fixed-menu__link(href="3", title="")
    li.fixed-menu__item: a.fixed-menu__link(href="4", title="")
    li.fixed-menu__item: a.fixed-menu__link(href="5", title="")
    li.fixed-menu__item: a.fixed-menu__link(href="6", title="")
    li.fixed-menu__item: a.fixed-menu__link(href="7", title="")
    li.fixed-menu__item: a.fixed-menu__link(href="8", title="")

  #review-tv.review-tv.popup
    .review-tv__title Константин Спилберг
    .review-tv__content Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным. Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
    .review-tv__close
      include assets/images/icons/close.svg
