block config
  - var PageTitle = "devBoost"
  - var MetaDesc = "Pug & Sass starter kit"
  - var MetaKeyw = "devboost, pug, sass, start, kit"
  - var js = true
  - var GoogleFonts = false
  - var mobile = true
