include config
include mixins

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    if mobile
      meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{PageTitle}
    meta(name="description", content=MetaDesc)
    meta(name="keywords", content=MetaKeyw)
    link(rel="apple-touch-icon", sizes="180x180", href="assets/images/favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="assets/images/favicon/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="assets/images/favicon/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="assets/images/favicon/manifest.json")
    link(rel="mask-icon", href="assets/images/favicon/safari-pinned-tab.svg")
    link(rel="shortcut icon", href="assets/images/favicon/favicon.ico")
    meta(name="msapplication-config", content="assets/images/favicon/browserconfig.xml")
    meta(name="theme-color", content="#ffffff")
    if GoogleFonts
      link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=" + GoogleFonts, type="text/css")
    block styles
      link(rel="stylesheet", href="assets/styles/main.css")
  body.page
    block page
    if js
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
      block scripts
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
        script(src="assets/scripts/owl.carousel.js")
        script(src="assets/scripts/map.js")
        script(src="assets/scripts/main.js")
