.section.best
  .best__inner
    .container
      .section-title.section-title--black.best__title Мы лучшие
      ul.best__list
        li.best__item
          .best__pic
            include ../assets/images/icons/meat.svg
          .best__head 100% свежее мясо
          .best__text Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.
        li.best__item
          .best__pic
            include ../assets/images/icons/hand.svg
          .best__head Ручная сборка
          .best__text Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Первое полустишие притягивает сюжетный реформаторский пафос.
        li.best__item
          .best__pic
            include ../assets/images/icons/natural.svg
          .best__head Натуральные ингредиенты
          .best__text Драма представляет собой деструктивный цикл. Анапест представляет собой анапест.
