.section.burgers
  .burgers__inner
    .container
      .slider
        .slider__wrap.owl-carousel

          .slider__item
            .burger-composition
              .burger-composition__text Состав
              .burger-composition__dropdown
                table.burger-composition__table

                  tr.burger-composition__row
                    td.burger-composition__cell
                      include ../assets/images/icons/beef.svg
                    td.burger-composition__cell
                      .burger-composition__name Говядина
                    td.burger-composition__cell
                      .burger-composition__amount 300 г

                  tr.burger-composition__row
                    td.burger-composition__cell
                      include ../assets/images/icons/buns.svg
                    td.burger-composition__cell
                      .burger-composition__name Булочки
                    td.burger-composition__cell
                      .burger-composition__amount 100 г

                  tr.burger-composition__row
                    td.burger-composition__cell
                      include ../assets/images/icons/salad.svg
                    td.burger-composition__cell
                      .burger-composition__name Зелень
                    td.burger-composition__cell
                      .burger-composition__amount 70 г

                  tr.burger-composition__row
                    td.burger-composition__cell
                      include ../assets/images/icons/sauce.svg
                    td.burger-composition__cell
                      .burger-composition__name Соус
                    td.burger-composition__cell
                      .burger-composition__amount 150 г

                  tr.burger-composition__row
                    td.burger-composition__cell
                      include ../assets/images/icons/cucumber.svg
                    td.burger-composition__cell
                      .burger-composition__name Овощи
                    td.burger-composition__cell
                      .burger-composition__amount 200 г

                  tr.burger-composition__row
                    td.burger-composition__cell
                      include ../assets/images/icons/cheese.svg
                    td.burger-composition__cell
                      .burger-composition__name Сыр
                    td.burger-composition__cell
                      .burger-composition__amount 80 г

            .slider__pic
              img.slider__img(src="assets/images/burgers-slider/dark-beef.png", alt="Dark BEEF Burger")

            .burger-kkal
              .burger-kkal__num 1200
              .burger-kkal__units ккал

            .slider__info
              .slider__name Dark BEEF Burger
              .slider__text Ваш старый добрый знакомый, с рубленым бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом гриль теперь с добавлением экзотического соуса чураско.
              .slider__price #[span.slider__big 500] рублей
              a.slider__btn.btn(href="#") Заказать

          .slider__item
            .burger-composition
              .burger-composition__text Состав
              .burger-composition__dropdown
                table.burger-composition__table

                  tr.burger-composition__row
                    td.burger-composition__cell
                      include ../assets/images/icons/beef.svg
                    td.burger-composition__cell
                      .burger-composition__name Говядина
                    td.burger-composition__cell
                      .burger-composition__amount 300 г

                  tr.burger-composition__row
                    td.burger-composition__cell
                      include ../assets/images/icons/buns.svg
                    td.burger-composition__cell
                      .burger-composition__name Булочки
                    td.burger-composition__cell
                      .burger-composition__amount 100 г

                  tr.burger-composition__row
                    td.burger-composition__cell
                      include ../assets/images/icons/salad.svg
                    td.burger-composition__cell
                      .burger-composition__name Зелень
                    td.burger-composition__cell
                      .burger-composition__amount 70 г

                  tr.burger-composition__row
                    td.burger-composition__cell
                      include ../assets/images/icons/sauce.svg
                    td.burger-composition__cell
                      .burger-composition__name Соус
                    td.burger-composition__cell
                      .burger-composition__amount 150 г

                  tr.burger-composition__row
                    td.burger-composition__cell
                      include ../assets/images/icons/cucumber.svg
                    td.burger-composition__cell
                      .burger-composition__name Овощи
                    td.burger-composition__cell
                      .burger-composition__amount 200 г

                  tr.burger-composition__row
                    td.burger-composition__cell
                      include ../assets/images/icons/cheese.svg
                    td.burger-composition__cell
                      .burger-composition__name Сыр
                    td.burger-composition__cell
                      .burger-composition__amount 80 г

            .slider__pic
              img.slider__img(src="assets/images/burgers-slider/dark-beef.png", alt="Dark BEEF Burger")

            .burger-kkal
              .burger-kkal__num 1200
              .burger-kkal__units ккал

            .slider__info
              .slider__name Dark BEEF Burger
              .slider__text Ваш старый добрый знакомый, с рубленым бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом гриль теперь с добавлением экзотического соуса чураско.
              .slider__price #[span.slider__big 500] рублей
              a.slider__btn.btn(href="#") Заказать

          .slider__item
            .burger-composition
              .burger-composition__text Состав
              .burger-composition__dropdown
                table.burger-composition__table

                  tr.burger-composition__row
                    td.burger-composition__cell
                      include ../assets/images/icons/beef.svg
                    td.burger-composition__cell
                      .burger-composition__name Говядина
                    td.burger-composition__cell
                      .burger-composition__amount 300 г

                  tr.burger-composition__row
                    td.burger-composition__cell
                      include ../assets/images/icons/buns.svg
                    td.burger-composition__cell
                      .burger-composition__name Булочки
                    td.burger-composition__cell
                      .burger-composition__amount 100 г

                  tr.burger-composition__row
                    td.burger-composition__cell
                      include ../assets/images/icons/salad.svg
                    td.burger-composition__cell
                      .burger-composition__name Зелень
                    td.burger-composition__cell
                      .burger-composition__amount 70 г

                  tr.burger-composition__row
                    td.burger-composition__cell
                      include ../assets/images/icons/sauce.svg
                    td.burger-composition__cell
                      .burger-composition__name Соус
                    td.burger-composition__cell
                      .burger-composition__amount 150 г

                  tr.burger-composition__row
                    td.burger-composition__cell
                      include ../assets/images/icons/cucumber.svg
                    td.burger-composition__cell
                      .burger-composition__name Овощи
                    td.burger-composition__cell
                      .burger-composition__amount 200 г

                  tr.burger-composition__row
                    td.burger-composition__cell
                      include ../assets/images/icons/cheese.svg
                    td.burger-composition__cell
                      .burger-composition__name Сыр
                    td.burger-composition__cell
                      .burger-composition__amount 80 г

            .slider__pic
              img.slider__img(src="assets/images/burgers-slider/dark-beef.png", alt="Dark BEEF Burger")

            .burger-kkal
              .burger-kkal__num 1200
              .burger-kkal__units ккал

            .slider__info
              .slider__name Dark BEEF Burger
              .slider__text Ваш старый добрый знакомый, с рубленым бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом гриль теперь с добавлением экзотического соуса чураско.
              .slider__price #[span.slider__big 500] рублей
              a.slider__btn.btn(href="#") Заказать


        .slider__controls
          a.slider__l-arrow(href="#")
            include ../assets/images/icons/arrow-scroll.svg
          a.slider__r-arrow(href="#")
            include ../assets/images/icons/arrow-scroll.svg
