.section.hello
  .container
    .header
      .header__logo
        a.logo(href="#", title="На главную")
          include ../assets/images/icons/logo.svg
      .header__nav
        nav.nav
          ul.nav__list
            li.nav__item: a.nav__link(href="2", title="") О нас
            li.nav__item: a.nav__link(href="3", title="") Бургеры
            li.nav__item: a.nav__link(href="4", title="") Команда
            li.nav__item: a.nav__link(href="5", title="") Меню
            li.nav__item: a.nav__link(href="6", title="") Отзывы
            li.nav__item: a.nav__link(href="8", title="") Контакты
            li.nav__item: a.nav__link.btn(href="7", title="") Заказать
    .hello__inner
      .container
        .hello__left
          img.hello__img(src="assets/images/hello_burger.png", alt="Burger")
        .hello__right
          .section-title.hello__title Мы делаем
          .hello__desc Натуральные бургеры
  a.arrow-down(href="#", title="")
    include ../assets/images/icons/arrow-scroll.svg
