.section.map
  #map.yandex-map
  .footer
    .container
      .footer__left
        .footer__addr Санкт-Петербург, ул.Бабушкина, д.12/1, 15
        .footer__phone
          include ../assets/images/icons/phone.svg
          | +7 (812) 377-13-77
      .footer__right
        ul.social
          li.social__item
            a.social__link(href="#", title="", target="_blank")
              include ../assets/images/icons/vk.svg
          li.social__item
            a.social__link(href="#", title="", target="_blank")
              include ../assets/images/icons/fb.svg
          li.social__item
            a.social__link(href="#", title="", target="_blank")
              include ../assets/images/icons/inst.svg
          li.social__item
            a.social__link(href="#", title="", target="_blank")
              include ../assets/images/icons/twitter.svg
