.section.order
  .order__inner
    .container
      .order__title.section-title Закажите доставку
      .order__form
        form.form(action="#", method="POST")
          .form__col
            .form__row
              .form__item._col-2
                .form__label Имя
                input.form__input(type="text", name="name")
              .form__item._col-2
                .form__label Телефон
                input#phone-mask.form__input(type="text", name="phone")
            .form__row
              .form__item
                .form__label Улица
                input.form__input(type="text", name="street")
            .form__row
              .form__item._col-4
                .form__label Дом
                input.form__input(type="text", name="house")
              .form__item._col-4
                .form__label Корпус
                input.form__input(type="text", name="corps")
              .form__item._col-4
                .form__label Квартира
                input.form__input(type="text", name="apartment")
              .form__item._col-4
                .form__label Этаж
                input.form__input(type="text", name="floor")
          .form__col
            .form__row
              .form__item
                .form__label Комментарий
                textarea.form__input._t-area(name="street")
            .form__row
              .form__item
                input.form__radio(id="pay1", type="radio", name="payment", checked)
                label.form__label._radio(for="pay1") Потребуется сдача
                input.form__radio(id="pay2", type="radio", name="payment")
                label.form__label._radio(for="pay2") Оплата по карте
            .form__row
              .form__item
                input.form__check(id="callback", type="checkbox", name="callback", checked)
                label.form__label._check(for="callback") Не перезванивать
            .form__row
              .form__item
                input.form__btn.btn(type="submit", value="Заказать")
                input.form__btn.btn.btn--clear(type="reset", value="Очистить")
