.section.reviews
  ul.reviews__list
    li.reviews__item
      .review
        .review__pic(style="background-image: url(assets/images/content/reviews/rev_01.jpg)")
        .review__hover
          .review__name Константин Спилберг
          .review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
          a.review__btn.btn.btn--black.fancybox(href="#review-tv") Подробнее
    li.reviews__item
      .review
        .review__pic(style="background-image: url(assets/images/content/reviews/rev_02.jpg)")
        .review__hover
          .review__name Константин Спилберг
          .review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
          a.review__btn.btn.btn--black.fancybox(href="#review-tv") Подробнее
    li.reviews__item
      .review
        .review__pic(style="background-image: url(assets/images/content/reviews/rev_03.jpg)")
        .review__hover
          .review__name Константин Спилберг
          .review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
          a.review__btn.btn.btn--black.fancybox(href="#review-tv") Подробнее
    li.reviews__item
      .review
        .review__pic(style="background-image: url(assets/images/content/reviews/rev_04.jpg)")
        .review__hover
          .review__name Константин Спилберг
          .review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
          a.review__btn.btn.btn--black.fancybox(href="#review-tv") Подробнее
    li.reviews__item
      .review
        .review__pic(style="background-image: url(assets/images/content/reviews/rev_05.jpg)")
        .review__hover
          .review__name Константин Спилберг
          .review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
          a.review__btn.btn.btn--black.fancybox(href="#review-tv") Подробнее
    li.reviews__item
      .review
        .review__pic(style="background-image: url(assets/images/content/reviews/rev_06.jpg)")
        .review__hover
          .review__name Константин Спилберг
          .review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
          a.review__btn.btn.btn--black.fancybox(href="#review-tv") Подробнее
    li.reviews__item
      .review
        .review__pic(style="background-image: url(assets/images/content/reviews/rev_07.jpg)")
        .review__hover
          .review__name Константин Спилберг
          .review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
          a.review__btn.btn.btn--black.fancybox(href="#review-tv") Подробнее
    li.reviews__item
      .review
        .review__pic(style="background-image: url(assets/images/content/reviews/rev_08.jpg)")
        .review__hover
          .review__name Константин Спилберг
          .review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
          a.review__btn.btn.btn--black.fancybox(href="#review-tv") Подробнее
