.section.team
  .team__right
    .team__block
      .section-title.team__title Команда
      ul.team__accord
        li.team__item
          a.team__link(href="#", title="") Дэниел Редклиф
          .team__info
            .team__info-wrap
              .team__pic: img.team__img(src="assets/images/team_pic.jpg", alt="Фото")
              .team__text
                .team__head Оператор
                .team__content С радостью поможет подобрать идеальный бургер и оформить заказ.
        li.team__item.is-active
          a.team__link(href="#", title="") Ричард Джеймс
          .team__info
            .team__info-wrap
              .team__pic: img.team__img(src="assets/images/team_pic.jpg", alt="Фото")
              .team__text
                .team__head Оператор
                .team__content С радостью поможет подобрать идеальный бургер и оформить заказ.
        li.team__item
          a.team__link(href="#", title="") Джейк Финн
          .team__info
            .team__info-wrap
              .team__pic: img.team__img(src="assets/images/team_pic.jpg", alt="Фото")
              .team__text
                .team__head Оператор
                .team__content С радостью поможет подобрать идеальный бургер и оформить заказ.
        li.team__item
          a.team__link(href="#", title="") Николай Иванов
          .team__info
            .team__info-wrap
              .team__pic: img.team__img(src="assets/images/team_pic.jpg", alt="Фото")
              .team__text
                .team__head Оператор
                .team__content С радостью поможет подобрать идеальный бургер и оформить заказ.
